@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background-color: rgb(60, 60, 60);
}

#calculator {
    width: 400px;
    height: 600px;
    flex: none;
    border: none;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px;
    background-color: rgb(150, 150, 150);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid rgb(111, 111, 111);
    border-left: 3px solid rgb(111, 111, 111);
    border-right: 3px solid rgb(33, 33, 33);
    border-bottom: 3px solid rgb(33, 33, 33);
}

#display {
    border: none;
    border-radius: 16px;
    border-top: 2px solid rgb(111, 111, 111);
    border-left: 2px solid rgb(111, 111, 111);
    border-right: 2px solid rgb(33, 33, 33);
    border-bottom: 2px solid rgb(33, 33, 33);
    padding: 0px 16px;
    font-size: 61px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(239, 239, 239);
    height: 85px;
}

div {
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

button {
    flex: auto;
    width: 85px;
    height: 85px;
    font-size: 24px;
    border-radius: 1000px;
}

.operator {
    background-color: cornflowerblue;
}

#zero {
    width: 47%;
}